{#include base}
{#bannerSection}
<div class="grid">
    <div class="callout">Welcome!</div>
    <div class="app-details">
        <h5>Direct login</h5>
        <a href="/users/profile" class="cta-button">See your profile now</a>
    </div>
</div>
{/bannerSection}
{#contentSection}
<div class="grid">
    <div class="left-column">
        <h1>This sample chat application has a very questionable security policy.</h1>
        <p>Don't fall for it.</p>
        <a href="/users/create/" class="cta-button">Create an account</a>
    </div>
</div>
{/contentSection}
{/include}