{#include base}
{#bannerSection}
<div class="grid">
    <div class="callout">Welcome!</div>
    <div class="app-details">
        <h5>Direct login</h5>
        <b>Username:</b><br/>
        <input type="text" name="login_username"/><br/>
        <b>Password:</b><br/>
        <input type="text" name="login_password"/><br/>
        <input type="submit" />
    </div>
</div>
{/bannerSection}
{#contentSection}
<div class="grid">
    <div class="left-column">
        <h1>This sample chat application has a very questionable security policy.</h1>
        <p>Don't fall for it.</p>
        <a href="/users/create/" class="cta-button">Create an account</a>
    </div>
</div>
{/contentSection}
{/include}