{#include base}
{#scriptSection}
<script>
function logoutCompleted() {
    window.location = "/";
}
function logout() {
    const req = new XMLHttpRequest();
    req.addEventListener("load", logoutCompleted);
    req.open("GET", "/users/logout");
    //req.setRequestHeader("Authorization", "Basic bnVsbDpudWxs");
    req.send();
}
</script>
{/scriptSection}

{#bannerSection}
<div class="grid">
    <div class="banner">
        <div class="grid">
            <div class="callout">Welcome {loggedInUser.username}!</div>
        </div>
    </div>
</div>
{/bannerSection}

{#contentSection}
<div class="grid">
    <div class="left-column">
        <h1>Find details here</h1>
        <p>
            <b>Username:</b><br/>
            <code>{loggedInUser.username}</code><br/>
            <b>Password:</b><br/>
            <code>{loggedInUser.password}</code><br/>
            <b>Role:</b><br/>
            <code>{loggedInUser.role}</code><br/>
            <a onclick="logout()">Logout</a>
        </p>
    </div>
</div>
{/contentSection}
{/include}